{% extends 'base.html.twig' %}

{% block content %}
    {#{{ dump() }}#}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="ti-user"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Employees</p>
                                        {{ stats.employee_nr }}
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Total Employees
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-target"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Active Jobs</p>
                                        {{ stats.open_jobs }}
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-calendar"></i> Updated now
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-danger text-center">
                                        <i class="ti-timer"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Due Soon</p>
                                        {{ stats.due_soon }}
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-timer"></i> Currently Active
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-info text-center">
                                        <i class="ti-check"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Completed</p>
                                        {{ stats.recently }}
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Updated now
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card ">

                        <div class="header">
                            <h4 class="title">Last Week's Jobs</h4>
                            <p class="category">All jobs</p>
                        </div>

                        <div class="content">

                            <div id="chartActivity" class="ct-chart"></div>
                            <div class="footer">
                                <div class="chart-legend">
                                    <i class="fa fa-circle text-info"></i> Opened Jobs
                                    <i class="fa fa-circle text-warning"></i> Closed Jobs
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="ti-check"></i> Data information certified
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card ">

                        <div class="header">
                            <h4 class="title">Test</h4>
                            <p class="category">Test chart</p>
                        </div>

                        <div class="content">

                            <div id="test-anim-chart" class="ct-chart"></div>
                            <div class="footer">
                                <div class="chart-legend">
                                    <i class="fa fa-circle text-info"></i> Opened Jobs
                                    <i class="fa fa-circle text-warning"></i> Closed Jobs
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="ti-check"></i> Data information certified
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Job Statistics</h4>
                            <p class="category">Last Week's Jobs</p>
                        </div>
                        <div class="content">
                            <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                            <div class="footer">
                                <div class="chart-legend">
                                    <i class="fa fa-circle text-info"></i> Finished Before
                                    <i class="fa fa-circle text-danger"></i> Finished After
                                    <i class="fa fa-circle text-warning"></i> Not Finished
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="ti-timer"></i> Timeline regarding deadline
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Users Behavior</h4>
                            <p class="category">24 Hours performance</p>
                        </div>
                        <div class="content">
                            <div id="chartHours" class="ct-chart"></div>
                            <div class="footer">
                                <div class="chart-legend">
                                    <i class="fa fa-circle text-info"></i> Open
                                    <i class="fa fa-circle text-danger"></i> Click
                                    <i class="fa fa-circle text-warning"></i> Click Second Time
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Updated 3 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}



    <script>



        $(document).ready(function () {


            $('.active').removeClass('active');
            $("#dashboard-active").parent().parent().addClass('active');


            myChart();

            function myChart(){


                var data = {
                    labels: ['1', '2', '3', '4', '5', '6'],
                    series: [
                        {
                            data: [1, 2, 3, 5, 8, 13]
                        }
                    ]
                };

                /* Set some base options (settings will override the default settings in Chartist.js *see default settings*). We are adding a basic label interpolation function for the xAxis labels. */
                var options = {
                    axisX: {
                        labelInterpolationFnc: function(value) {
                            return 'Calendar Week ' + value;
                        }
                    }
                };

                /* Now we can specify multiple responsive settings that will override the base settings based on order and if the media queries match. In this example we are changing the visibility of dots and lines as well as use different label interpolations for space reasons. */
                var responsiveOptions = [
                    ['screen and (min-width: 641px) and (max-width: 1024px)', {
                        showPoint: false,
                        axisX: {
                            labelInterpolationFnc: function(value) {
                                return 'Week ' + value;
                            }
                        }
                    }],
                    ['screen and (max-width: 640px)', {
                        showLine: false,
                        axisX: {
                            labelInterpolationFnc: function(value) {
                                return 'W' + value;
                            }
                        }
                    }]
                ];

                /* Initialize the chart with the above settings */
                new Chartist.Line('#test-anim-chart', data, options, responsiveOptions);


                var dataSales = {
                    labels: ['9:00AM', '12:00AM', '3:00PM', '6:00PM', '9:00PM', '12:00PM', '3:00AM', '6:00AM'],
                    series: [
                        [287, 385, 490, 492, 554, 586, 698, 695, 752, 788, 846, 944],
                        [67, 152, 143, 240, 287, 335, 435, 437, 539, 542, 544, 647],
                        [23, 113, 67, 108, 190, 239, 307, 308, 439, 410, 410, 509]
                    ]
                };

                var optionsSales = {
                    lineSmooth: false,
                    low: 0,
                    high: 800,
                    showArea: true,
                    height: "245px",
                    axisX: {
                        showGrid: false,
                    },
                    lineSmooth: Chartist.Interpolation.simple({
                        divisor: 3
                    }),
                    showLine: false,
                    showPoint: false,
                };

                var responsiveSales = [
                    ['screen and (max-width: 640px)', {
                        axisX: {
                            labelInterpolationFnc: function (value) {
                                return value[0];
                            }
                        }
                    }]
                ];

                Chartist.Line('#chartHours', dataSales, optionsSales, responsiveSales);

                var data = {
                    labels: ['6 days ago', '5 days ago', '4 days ago', '3 days ago', '2 days ago', '1 day ago', 'Today'],
                    series: [
                        [{% for open_jobs in stats.last_week_opened_jobs %}{{ open_jobs|raw }},{% endfor %}],
                        [{% for closed_jobs in stats.last_week_closed_jobs %}{{ closed_jobs|raw }},{% endfor %}],

                    ]
                };

                var options = {
                    seriesBarDistance: 10,
                    axisX: {
                        showGrid: false
                    },
                    height: "245px"
                };

                var responsiveOptions = [
                    ['screen and (max-width: 640px)', {
                        seriesBarDistance: 5,
                        axisX: {
                            labelInterpolationFnc: function (value) {
                                return value[0];
                            }
                        }
                    }]
                ];

                Chartist.Line('#chartActivity', data, options, responsiveOptions);


                var dataPreferences = {
                    series: [
                        [25, 30, 20, 25]
                    ]
                };

                var optionsPreferences = {
                    donut: true,
                    donutWidth: 40,
                    startAngle: 0,
                    total: 100,
                    showLabel: false,
                    axisX: {
                        showGrid: false
                    }
                };

                Chartist.Pie('#chartPreferences', dataPreferences, optionsPreferences);


                var sum = {{ stats.finishedBeforeDeadline }} + {{ stats.finishedAfterDeadline }} + {{ stats.notFinished }};
                var FBD = {{ stats.finishedBeforeDeadline }} * (1/sum) * 100;
                var FAD = {{ stats.finishedAfterDeadline }} * (1/sum) * 100;
                var NF = {{ stats.notFinished }} * (1/sum) * 100;

                console.log(NF);
                console.log(FBD);
                console.log(FAD);



                Chartist.Pie('#chartPreferences', {
                    labels: [FBD + '%', FAD + '%', NF + '%'],
                    series: [{{ stats.finishedBeforeDeadline }}, {{ stats.finishedAfterDeadline }}, {{ stats.notFinished }}]
                });
            }
        });
    </script>

{% endblock %}