{% extends 'base.html.twig' %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Employees</h4>
                                <p class="category">General Information</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
										<th>Username</th>
										<th>Name</th>
										<th>Surname</th>
										<th>Email</th>
										<th>Role</th>
										<th>Salary</th>
										<th>Phone Number</th>
										<th>Last Login</th>
										<th>Consumption</th>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
										<tr>
											<td>{{ user.username }}</td>
											<td>{{ user.name }}</td>
											<td>{{ user.surname }}</td>
											<td>{{ user.email }}</td>
											<td>{{ user.role }}</td>
											<td>{{ user.salary }}</td>
											<td>{{ user.phoneNr }}</td>
											<td>{{ user.lastLoggin|date('Y-m-d') }}</td>
											<td>{{ user.fuelConsumption }}</td>
										</tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}


    <script>
        $(document).ready(function () {

            $('.active').removeClass('active');
            $("#employees-active").parent().parent().addClass('active');

        });
    </script>

{% endblock %}


