{% extends 'base.html.twig' %}

{% block title %}Jobs{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#<link href="{{ asset('assets/css/dynamicForm.css') }}" rel="stylesheet"/>#}

    <style>
        /*#easyPaginate {width:300px;}*/
        .easyPaginateNav a {padding:1px;}
        .easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}
    </style>
{% endblock %}

{% block content %}
    {{ dump() }}


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div id="easyPaginate">

                        {% for job in jobs %}

                            <page>
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Job {{ job.job_id }}</h4>
                                    {#<p class="category">Job Information</p>#}
                                </div>
                                <div class="content">
                                    <ul class="nav nav-tabs text-center">
                                        <li class="col-md-6"><a class="active-tab" data-toggle="tab" href="#job{{ job.job_id }}">Job{{ job.job_id }}</a></li>
                                        <li class="col-md-6"><a data-toggle="tab" href="#answer{{ job.job_id }}">Answer</a></li>
                                    </ul>

                                    <div class="tab-content" style="height: 400px;">
                                        <div id="job{{ job.job_id }}" class="tab-pane fade in">
                                                <div class="header">
                                                    <h4 class="title">{{ job.title }}</h4>
                                                </div>

                                                <div class="content">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Employee</label>
                                                                <p>{{ job.user_id }}</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Deadline</label>
                                                                <p>{{ job.deadline }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Priority</label>
                                                                <p>{{ job.priority }}</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Reward</label>
                                                                <p>{{ job.reward }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Difficulty</label>
                                                                <p>{{ job.job_diff }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Created At</label>
                                                                <p>{{ job.created_at }}</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Form</label>
                                                                <p>{{ job.form }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div id="answer{{ job.job_id }}" class="tab-pane fade">
                                            <h3>
                                                {% if job.answer_id is not null %}
                                                    <h3>{{ job.response }}</h3>
                                                    <p>{{ job.answered_at }}</p>
                                                {% else %}
                                                    <h3>No answer</h3>
                                                {% endif %}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-check"></i> Data information certified
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </page>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('assets/js/jobs/easyPaginate.js') }}"></script>

    <script>

        var test = {{ jobs|json_encode|raw }};

        test.forEach(function (value) {
            console.log(value);
        });



        $(document).ready(function () {

            $('.active').removeClass('active');
            $("#jobs-active").parent().parent().addClass('active');

            $('.active-tab').tab('show');

            // a.twbsPagination();

            $('#easyPaginate').easyPaginate({
                paginateElement: 'page',
                elementsPerPage: 3,
                effect: 'climb'
            });

        });
    </script>

{% endblock %}


