{% extends 'base.html.twig' %}

{% block title %}Jobs{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/job/job.css') }}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:100,200,400,500|Suranna|Trocchi" rel="stylesheet">

    <style>
        /*#easyPaginate {width:300px;}*/
        .easyPaginateNav a {padding:1px;}
        .easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}
        .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
            color: #fff !important;
            background-color: #d9534f !important;
        }

    </style>
{% endblock %}


{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <i class="ti-book"></i>
                    Jobs
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">

                    <li>
                        <a class="search-btn">
                            {#<div class="form-group">#}
                                <input type="text" name="searchJob" class="form-control" id="my-search" placeholder="Search Job">
                            {#</div>#}
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ti-bell"></i>
                            <p class="notification">5</p>
                            <p>Notifications</p>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Notification 1</a></li>
                            <li><a href="#">Notification 2</a></li>
                            <li><a href="#">Notification 3</a></li>
                            <li><a href="#">Notification 4</a></li>
                            <li><a href="#">Another notification</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}">
                            <i class="ti-key"></i>
                            <p>Log out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}



{% block content %}
    {#{{ dump() }}#}


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div id="easyPaginate">

                        {% for job in jobs %}

                            <page>
                            <div class="card">
                                <div class="card-header">
                                    <ul class="nav nav-pills nav-justified">
                                        {#nav nav-tabs text-centered#}
                                        <li class="col-md-3 nav-item">
                                            <a class="nav-link active-tab" data-toggle="tab" href="#job{{ job.job_id }}">Job{{ job.job_id }}</a>
                                        </li>
                                        <li class="col-md-3 nav-item">
                                            <a class="nav-link"  data-toggle="tab" href="#answer{{ job.job_id }}">Answer</a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="content card-body">

                                    <div class="tab-content" style="height: 380px">
                                        <div id="job{{ job.job_id }}" class="tab-pane fade in">
                                            <div class="job-wrapper">
                                                <div class="job-img">
                                                    <img class="img-job" height="350" width="327" src="{{ asset('assets/img/job_images/job-photo.png') }}">
                                                    <div class="img-txt-center">
                                                        {{ job.description }}
                                                    </div>
                                                </div>
                                                <div class="job-info" id="style2" style="overflow: scroll;overflow-x: hidden">
                                                    <div class="job-text">
                                                        <h1 class="job-h1 text-center">{{ job.title }}</h1>
                                                        <h2 class="job-h2 text-center">by {{ job.name }} {{ job.surname }}</h2>
                                                        <p class="job-p text-center" style="border-bottom: 1px solid #cccccc"><strong>Priority:</strong>
                                                            {% if job.priority == 0 %}
                                                                Low
                                                            {% elseif job.priority == 1 %}
                                                                Medium
                                                            {% else %}
                                                                High
                                                            {% endif %}
                                                        </p>
                                                        <p class="job-p text-center" style="border-bottom: 1px solid #cccccc"><strong>Difficulty:</strong>
                                                            {% if job.job_diff == 0 %}
                                                                Easy
                                                            {% elseif job.job_diff == 1 %}
                                                                Challenging
                                                            {% elseif job.job_diff == 2 %}
                                                                Hard
                                                            {% else %}
                                                                Extreme
                                                            {% endif %}
                                                        </p>
                                                        <p class="job-p text-center" style="border-bottom: 1px solid #cccccc"><strong>Reward:</strong> ${{ job.reward }}</p>
                                                        <p class="job-p text-center" style="border-bottom: 1px solid #cccccc"><strong>Deadline:</strong> {{ job.deadline }}</p>
                                                    </div>
                                                    <div class="job-price-btn" style="display: flex; justify-content: center; align-items: center;margin-top:5px">
                                                        <button class="job-btn btn-danger" type="button" data-toggle="modal" id="delete-{{ job.job_id }}" data-target="#delete-modal" style="margin:0">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="answer{{ job.job_id }}" class="tab-pane fade" style="display: flex; justify-content: center; align-items: center;">
                                            {% if job.response is not null %}
                                                <div class="job-wrapper">
                                                    <div class="job-img">
                                                        <img class="img-job" height="350" width="327" src="{{ asset('assets/img/job_images/answer-photo.jpg') }}">
                                                        <div class="img-txt-center">
                                                            {{ job.description }}
                                                        </div>
                                                    </div>
                                                    <div class="job-info" id="style2" style="overflow: scroll; overflow-x: hidden">
                                                        <div class="job-text">
                                                            <h1 class="job-h1 text-center">{{ job.title }}</h1>
                                                            <h2 class="job-h2 text-center">by {{ job.name }} {{ job.surname }}</h2>
                                                            {#<h1 class='job-h1 text-center' id='response'>Response</h1><br>#}
                                                            <p class='job-p' id="response-questions"></p>
                                                                <script>
                                                                    var show_response = "";

//                                                                  var map = {"Question 1" : 50, "Question2" : "yes", "Question23" : "yes", "Questio1n23" : "yes", "Questaion23" : "yes", "Questdion23" : "yes", "Ques123tion23" : "yes", "Question22" : "yes", "Questi1on2" : "yes"};
                                                                    var map = {{ job.response }};
                                                                    Object.keys(map).forEach(function (key) {

                                                                        var value = map[key];
                                                                        show_response += "<strong>" + key + "? \t </strong>" + value + "<br>";

                                                                    });

                                                                    // $('#response').html('');
                                                                    $('#response-questions').append(show_response);

                                                                </script>
                                                            <p class="job-p" style="margin-bottom: 15px;"><strong>Answered At:</strong>
                                                                {{ job.answered_at }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <h3 style='position:absolute;top:40%'>Sorry! This job has not been answered yet!</h3>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-check"></i> Job Information
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </page>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modal %}

    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h3 id="myModalLabel">Delete Job</h3>
                    </center>
                </div>

                <div class="modal-body" id="myWizard">
                    <div class="text-center" style="margin-bottom: 0px !important;">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h3>Do you really want to delete this job?</h3>
                                        <h7><strong>Note:</strong> The answer for this job will be deleted aswell.</h7>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-1"></div>
                        <button class="btn btn-danger col-md-5">Yes</button>
                        <button class="btn btn col-md-5 search-btn-modal" data-dismiss="modal" data-toggle="tab">No</button>

                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('assets/js/jobs/easyPaginate.js') }}"></script>

    <script>

        var test = {{ jobs|json_encode|raw }};

        test.forEach(function (value) {
            // console.log(value);
        });



        $(document).ready(function () {

            $('.active').removeClass('active');
            $("#jobs-active").parent().parent().addClass('active');

            $('.active-tab').tab('show');

            // a.twbsPagination();

            $('#easyPaginate').easyPaginate({
                paginateElement: 'page',
                elementsPerPage: 5,
                effect: 'climb',
                firstButtonText: 'First',
                lastButtonText: 'Last',
                nextButtonText: 'Next',
                prevButtonText: 'Prev'
            });


            // Search Jobs

            $("#my-search").keyup(function() {

                var jobTitle = $(this).val();

                delay(function(){

                    // alert(jobTitle);

                    if (jobTitle !== '') {
                        $.ajax({
                            type: 'POST',
                            url: '/search/jobs',
                            data: {
                                'job-title' : jobTitle
                            },
                            success: function (result) {

                                console.log(JSON.parse(result));

                                var array = JSON.parse(result);

                                $('#easyPaginate').html('');

                                array.forEach(function (element) {

                                    var answer = "";
                                    var priority = "";
                                    var difficulty = "";

                                    if(element.priority === "0"){
                                        priority = "Low";
                                    } else if(element.priority === "1"){
                                        priority = "Medium";
                                    } else {
                                        priority = "High";
                                    }

                                    if(element.job_diff === "0"){
                                        difficulty = "Easy";
                                    } else if(element.job_diff === "1"){
                                        difficulty = "Challenging";
                                    } else if(element.job_diff === "2"){
                                        difficulty = "Hard";
                                    } else {
                                        difficulty = "Extreme";
                                    }

                                    var show_response = "";

//                                    var map = {"Question 1" : 50, "Question2" : "yes", "Question23" : "yes", "Questio1n23" : "yes", "Questaion23" : "yes", "Questdion23" : "yes", "Ques123tion23" : "yes", "Question22" : "yes", "Questi1on2" : "yes"};
                                    var map = element.response;
                                    Object.keys(map).forEach(function (key) {

                                        var value = map[key];
                                        show_response += "<p style='border-bottom:1px solid #cccccc;margin:0' class='job-b text-center'><strong>" + key + "? \t </strong>" + value + "</p><br>";

                                    });


                                    if(element.answer_id != null){

                                        answer = "<div class='job-wrapper'>\n" +
"                                                    <div class='job-img'>\n" +
"                                                        <img class='img-job' height='350' width='327' src='{{ asset('assets/img/job_images/answer-photo.jpg') }}'>\n" +
"                                                        <div class='img-txt-center'>\n" +
"                                                            " + element.description + "\n" +
"                                                        </div>\n" +
"                                                    </div>\n" +
"                                                    <div class='job-info' id='style2' style='overflow:scroll; overflow-x:hidden;'>\n" +
"                                                        <div class='job-text'>\n" +
"                                                            <h1 class='job-h1 text-center'>" + element.title + "</h1>\n" +
"                                                            <h2 class='job-h2 text-center'>by " + element.name + " " + element.surname + "</h2>\n" +
"                                                            <p class='job-p text-center'>" +
"                                                                " + show_response + "\n" +
"                                                            </p>\n" +
"                                                            <p class='job-p text-center' style='margin-bottom: 15px;border-bottom:1px solid #cccccc'><strong>Answered At:</strong>\n" +
"                                                                " + element.answered_at + "\n" +
"                                                            </p>\n" +
"                                                        </div>\n" +
"                                                    </div>\n" +
"                                                </div>";

                                    } else {
                                        answer = "<h3 style='position:absolute;top:40%'>Sorry! This job has not been answered yet!</h3>";
                                    }



                                    $('#easyPaginate').append("<page>\n" +
                                "                            <div class='card'>\n" +
                                "                                <div class='card-header'>\n" +
                                "                                    <ul class='nav nav-pills nav-justified'>\n" +
                                "                                        <li class='col-md-3 nav-item'>\n" +
                                "                                            <a class='nav-link active-tab' data-toggle='tab' href='#job" + element.job_id + "'>Job" + element.job_id + "</a>\n" +
                                "                                        </li>\n" +
                                "                                        <li class='col-md-3 nav-item'>\n" +
                                "                                            <a class='nav-link' data-toggle='tab' href='#answer" + element.job_id + "'>Answer</a>\n" +
                                "                                        </li>\n" +
                                "                                    </ul>\n" +
                                "\n" +
                                "                                </div>\n" +
                                "                                <div class='content card-body'>\n" +
                                "\n" +
                                "                                    <div class='tab-content' style='height: 380px'>\n" +
                                "                                        <div id='job" + element.job_id + "' class='tab-pane fade in'>\n" +
                                "                                            <div class='job-wrapper'>\n" +
                                "                                                <div class='job-img'>\n" +
                                "                                                    <img class='img-job' height='350' width='327' src='{{ asset('assets/img/job_images/job-photo.png') }}'>\n" +
                                "                                                    <div class='img-txt-center'>\n" +
                                "                                                        " + element.description + "\n" +
                                "                                                    </div>\n" +
                                "                                                </div>\n" +
                                "                                                <div class='job-info' id='style2' style='overflow:scroll; overflow-x:hidden;'>\n" +
                                "                                                    <div class='job-text'>\n" +
                                "                                                        <h1 class='job-h1 text-center'>" + element.title + "</h1>\n" +
                                "                                                        <h2 class='job-h2 text-center'>by " + element.name + " " + element.surname + "</h2>\n" +
                                "                                                        <p class='job-p text-center' style='border-bottom: 1px solid #cccccc'><strong>Priority:</strong>\n" + priority +
                                "                                                        </p>\n" +
                                "                                                        <p class='job-p text-center' style='border-bottom: 1px solid #cccccc'><strong>Difficulty:</strong>\n" + difficulty +
                                "                                                        </p>\n" +
                                "                                                        <p class='job-p text-center' style='border-bottom: 1px solid #cccccc'><strong>Reward:</strong> $" + element.reward + "</p>\n" +
                                "                                                        <p class='job-p text-center' style='border-bottom: 1px solid #cccccc'><strong>Deadline:</strong> " + element.deadline + "</p>\n" +
                                "                                                    </div>\n" +
                                "                                                    <div class='job-price-btn' style='display: flex; justify-content: center; align-items: center;margin-top:5px'>\n" +
                                "                                                        <button class='job-btn btn-danger' type='button' data-toggle='modal' id='delete-" + element.job_id + "' data-target='#delete-modal' style='margin:0'>Delete</button>\n" +
                                "                                                    </div>\n" +
                                "                                                </div>\n" +
                                "                                            </div>\n" +
                                "                                        </div>\n" +
                                "                                        <div id='answer" + element.job_id + "' class='tab-pane fade'  style='display: flex; justify-content: center; align-items: center;'>\n" +
                                                                            answer +
                                "                                        </div>" +
                                "                                    </div>\n" +
                                "                                    <div class='footer'>\n" +
                                "                                        <hr>\n" +
                                "                                        <div class='stats'>\n" +
                                "                                            <i class='ti-check'></i> Job Information\n" +
                                "                                        </div>\n" +
                                "                                    </div>\n" +
                                "                                </div>\n" +
                                "                            </div>\n" +
                                "                            </page>");

                                    $('.active-tab').tab('show');

                                });


                                $('.easyPaginateNav').remove();

                                $('#easyPaginate').easyPaginate({
                                    paginateElement: 'page',
                                    elementsPerPage: 5,
                                    effect: 'climb',
                                    firstButtonText: 'First',
                                    lastButtonText: 'Last',
                                    nextButtonText: 'Next',
                                    prevButtonText: 'Prev'
                                });
                            }
                        });
                    }

                }, 1000);
            });
        });


        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();

    </script>

{% endblock %}


