{% extends 'base.html.twig' %}

{% block title %}Map{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/dynamicForm.css') }}" rel="stylesheet"/>

{% endblock %}

    {% block navbar %}

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <i class="ti-map"></i>
                        Map
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-plus"></i>
                                <p class="hidden-lg hidden-md">Map</p>
                            </a>
                        </li>

                        <li>
                            <a class="search-btn">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-bell"></i>
                                <p class="notification">5</p>
                                <p>Notifications</p>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">
                                <i class="ti-key"></i>
                                <p>Log out</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}

        <div class="container-fluid">
            <div class="card card-map">
                <div class="header">
                    <h4 class="title">Google Maps</h4>
                </div>

                <div class="map">
                    <div id="map"></div>
                </div>
            </div>
        </div>

        <div class="finalize-btn" style="display: none; position: absolute; bottom: 40px; width: 100%; z-index:2000;">
            <div class="col-md-3"></div>
            <button class="btn col-md-6" style="border: transparent; font-family: 'Raleway';background-color: firebrick; color: white;text-transform: uppercase;letter-spacing: 1px; border-radius: 25px;">Finalize</button>
            <div class="col-md-3"></div>
        </div>


    {% endblock %}

    {#{% block footer %}#}
    {#{% endblock %}#}

    {% block modal %}

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <center>
                            <h3 id="myModalLabel">Create a New Job</h3>
                        </center>
                    </div>

                    <div class="modal-body" id="myWizard">

                        <div class="tab-content">

                            <div class="step-anim">
                                <div class="col-sm-12" style="z-index: 2">
                                    <div class="col-sm-4"></div>
                                        <p class="progress-steps col-sm-12" style="z-index: 2; text-align: center;font-family: Raleway;font-size: 24px">Step 1 of 3</p>
                                    <div class="col-sm-4"></div>
                                </div>

                                <div class="progress col-sm-12"
                                     style="z-index: 2; background-color: transparent;background: none;height: 20px;width: 100%;box-shadow: none">
                                    <div class="progress-bar col-sm-12" role="progressbar" aria-valuenow="1" aria-valuemin="1"
                                         aria-valuemax="4"
                                         style="z-index: 2; width: 33%; border-radius: 25px; background-color: rgba(127, 255, 127, 0.4)">
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade in active" id="step1">

                                <div class="card" style="margin-bottom: 0px !important;">
                                    <div class="header">
                                        <h4 class="title">General Information</h4>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Title</label>
                                                    <input id="job-title" type="text" class="form-control" placeholder="Title">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Employee</label>
                                                    {#<input type="text" class="form-control" placeholder="Employee">#}
                                                    <input id="job-employee" list="employee" type="text" placeholder="Employee"  class="form-control col-md-12">
                                                    <datalist id="employee">

                                                        {% for user in users %}
                                                            <option value="{{ user.name }} {{ user.surname }}">
                                                        {% endfor %}

                                                    </datalist>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Deadline</label>
                                                    <input id="job-deadline" type="date" placeholder="Deadline" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Job Priority</label>
                                                    <select class="form-control" id="job-priority">
                                                        <option value="2">High</option>
                                                        <option value="1">Medium</option>
                                                        <option value="0">Low</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Reward</label>
                                                    <input id="job-reward" min="0" type="number" class="form-control" placeholder="Reward">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Job Difficulty</label>
                                                    <select class="form-control" id="job-difficulty">
                                                        <option value="0">Easy</option>
                                                        <option value="1">Challenging</option>
                                                        <option value="2">Hard</option>
                                                        <option value="3">Extreme</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea id="job-desc" rows="2" style="resize:none" class="form-control" placeholder="Enter your description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-md-1"></div>
                                    <button class="btn col-md-5" aria-hidden="true" data-dismiss="modal">Close</button>
                                    <a href="#step2" class="btn col-md-5 btn-primary" data-toggle="tab"
                                       data-step="2">Continue</a>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="step2" >

                                <div class="card" style="margin-bottom: 0px !important;border: transparent;box-shadow: none">
                                    {#<div class="header">#}
                                        {#<h4 class="title">Dynamic Form</h4>#}
                                    {#</div>#}
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-2"></div>
                                                    {#<button class="btn col-md-8" id="addAnotherSection" style="position: absolute;top:10px;left:70px">Add Section</button>#}
                                                    <div class="col-md-2"></div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="flex-container">
                                                <div class="flex-item">
                                                    <div id="mainContainer"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-5"></div>
                                                 {#<button class="btn col-md-2" id="addAnotherSection" style="text-align: center;margin-top: 10px" >Add</button>#}
                                                {#<button  class="btn btn-danger btn-circle btn-xl col-md-4" style="  width: 60px;height: 60px;padding: 10px 16px;border-radius: 30px;font-size: 24px;line-height: 1.33;"><i class="material-icons">add</i></button>#}
                                                <div class="col-md-5"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="col-md-1"></div>
                                    <a href="#step1" class="btn col-md-3" data-toggle="tab" data-step="1">Back</a>
                                    <a id="addAnotherSection" class="btn col-md-3 btn-danger">Add Section</a>
                                    {#<button class="btn col-md-2" id="addAnotherSection" style="text-align: center;margin-top: 10px" >Add</button>#}
                                    <a href="#step3" class="btn col-md-3 btn-primary" data-toggle="tab"
                                       data-step="3">Continue</a>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="step3">

                                <div class="card" style="margin-bottom: 0px !important;">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Job Address</label>
                                                    <input type="text" id="search-text-modal" class="form-control" placeholder="Job Address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-md-1"></div>
                                    <a href="#step2" class="btn col-md-5" data-toggle="tab" data-step="2">Back</a>
                                    <a href="" class="btn btn-danger col-md-5 search-btn-modal" data-dismiss="modal" data-toggle="tab" data-step="3">Finish</a>

                                    <div class="col-md-1"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div id="job-info-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h3 id="myModalLabel">Job Information</h3>
                    </center>
                </div>

                <div class="modal-body" id="myWizard">

                    <div class="card" style="margin-bottom: 0px !important;">
                        <div class="header">
                            <h4 class="title">Job Information</h4>
                        </div>
                        <div class="content">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input id="info-job-title" type="text" class="form-control" placeholder="Title" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Employee</label>
                                        <input id="info-job-employee" type="text" class="form-control" placeholder="Title" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Deadline</label>
                                        <input id="info-job-deadline" type="text" class="form-control" placeholder="Title" disabled>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Priority</label>
                                        <input id="info-job-priority" type="text" class="form-control" placeholder="Title" disabled>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Reward</label>
                                        <input id="info-job-reward" type="text" class="form-control" placeholder="Title" disabled>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Difficulty</label>
                                        <input id="info-job-difficulty" type="text" class="form-control" placeholder="Title" disabled>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Created At</label>
                                        <input id="info-job-created-at" type="text" class="form-control" placeholder="Title" disabled>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input id="info-job-description" type="text" class="form-control" placeholder="Title" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="col-md-1"></div>
                            <a class="btn col-md-5" data-dismiss="modal">Close</a>
                            <a class="btn col-md-5 btn-danger" id="delete-job">Delete Job</a>
                            <div class="col-md-1"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}


    {% block javascripts %}

        {{ parent() }}


        <script src="{{ asset('assets/js/map/map.js') }}"></script>

         {% for job in jobs %}
            <script>

                    var myMarker = new google.maps.LatLng({{ job.lat }},{{ job.lng  }});

                    var marker = new google.maps.Marker({
                     position: myMarker,
                     title: "Hello Tirana!"
                     });

                    marker.addListener('click', function() {
                        map.setZoom(8);
                        map.setCenter(marker.getPosition());
                        alert("Clicked on {{ job.title }}");
                    });

                     // To add the marker to the map, call setMap();
                     marker.setMap(map);

            </script>

         {% endfor %}


        <script>

            $(document).ready(function () {

                var allMarkers = [];
                var lastClicked;

                {% for job in jobs %}

                    var icon;

                    var priority = {{ job.priority }};

                    if(priority === 0){
                        icon = "assets/marker_icons/green_MarkerJ.png";
                    }
                    else if (priority === 1) {
                        icon = "assets/marker_icons/orange_MarkerJ.png";
                    }
                    else {
                        icon = "assets/marker_icons/red_MarkerJ.png";
                    }

                    var jobPosition = new google.maps.LatLng({{ job.lat }}, {{ job.lng }});

                    var marker = new google.maps.Marker({
                        position: jobPosition,
                        title: '{{ job.title }}',
                        icon : icon,
                        map : map
                    });

                    marker.addListener('click', function () {

                        var employeeName;

                        map.setZoom(15);
                        map.setCenter(new google.maps.LatLng({{ job.lat }}, {{ job.lng }}));
                        lastClicked= '{{ job.id }}';

                        var priority = {{ job.priority }};
                        if(priority===0) priority="Low";
                        else if(priority===1) priority="Medium";
                        else if(priority===2) priority="High";

                        var diff = {{ job.job_diff }};
                        if(diff===0) diff="Easy";
                        else if(diff===1) diff="Challenging";
                        else if(diff===2) diff="Hard";
                        else if(diff===3) diff="Extreme";

                        $.ajax({
                            type: "POST",
                            url: '/get/employee',
                            data: {
                                'id' : {{ job.user_id }}
                            },
                            success: function (msg) {
                                employeeName=msg;
                                $("#info-job-title").val('{{ job.title }}');
                                $("#info-job-description").val('{{ job.description}}');
                                $("#info-job-employee").val(employeeName);
                                $("#info-job-deadline").val('{{ job.deadline }}');
                                $("#info-job-priority").val(priority);
                                $("#info-job-reward").val('{{ job.reward }}');
                                $("#info-job-difficulty").val(diff);
                                $("#info-job-created-at").val('{{ job.created_at }}');
                                $('#job-info-modal').modal('show');
                            }
                        });
                    });

                    allMarkers.push(marker);

                    // console.log(marker);

                // marker.setMap(map);
                {% endfor %}


                $('#delete-job').click(function () {

                    $('#job-info-modal').modal('toggle');

                    $.ajax({
                        type: "POST",
                        url: '/delete/job',
                        data: {
                            'id' : lastClicked
                        },
                        success: function (msg) {
                            location.reload();
                        }
                    });

                });

                console.log(allMarkers);

                var markerCluster = new MarkerClusterer(map, allMarkers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

            });
        </script>

    {% endblock %}



