{% extends  'base.html.twig'%}
{% block content %}
  <div class="content">
    <div class="container-fluid">
      <h2>Generate a report</h2>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Start Date</label>
            <input type="date" name="text-date" class="form-control" id="begin-date">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>End Date</label>
            <input type="date" name="text-date" class="form-control" id="end-date">
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="job-chief">Chief Inspector</label>
              {#<input type="text" class="form-control" placeholder="Employee">#}
            <input id="job-chief" list="chief" type="text" placeholder="Employee"  class="form-control col-md-12">
            <datalist id="chief">

                {% for chief in chiefs %}
              <option value="{{ chief.name }} {{ chief.surname }}">
                  {% endfor %}
            </datalist>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="job-employee">Employee</label>
              {#<input type="text" class="form-control" placeholder="Employee">#}
            <input id="job-employee" list="employee" type="text" placeholder="Employee"  class="form-control col-md-12">
            <datalist id="employee">

                {% for user in users %}
              <option value="{{ user.name }} {{ user.surname }}">
                  {% endfor %}
            </datalist>
          </div>
        </div>
      </div>
      <br><br>
      <button type="submit" class="btn btn-outline-danger pull-right" name="text-edit">Generate</button>
    </div>
  </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}

  <script>

      $(document).ready(function(){
          $("#reports-active").parent().parent().addClass("active");
      });

  </script>

{% endblock %}
