
{% extends 'base.html.twig' %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-10">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form action="{{ path('update') }}" method="POST">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Company (disabled)</label>
                                                <input type="text" class="form-control" disabled placeholder="Company" value="Software Engineering Inc.">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" name="username" class="form-control" placeholder="Username" value="{{ user.username }}" style="pointer-events:none;background:#F5F5F5;cursor: not-allowed;">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" name="email" class="form-control" placeholder="Email" value="{{ user.email }}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" name="name" class="form-control" placeholder="Company" value="{{ user.name }}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" name="surname" class="form-control" placeholder="Last Name" value="{{ user.surname }}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input type="text" name="phone_nr" class="form-control" placeholder="Birthday" value="{{ user.getPhoneNr }}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Birthday</label>
                                                <input type="datetime" name="birthday" class="form-control" placeholder="Birthday" value="{{ user.birthday|date('Y-m-d') }}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Role</label>
                                                <input type="text" class="form-control" name="role" placeholder="Role" value="{{ user.role }}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Salary</label>
                                                <input type="text" class="form-control" name="salary" placeholder="Salary" value="{{ user.salary }}" style="pointer-events:none;background:#F5F5F5;cursor:  not-allowed">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <input type="password" name="password" class="form-control" placeholder="**********" >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" name="new_password" class="form-control" placeholder="*********" >
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-outline-danger pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>

                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

        $(document).ready(function(){
            $("#settings-active").parent().parent().addClass("active");
        });

    </script>

{% endblock %}

